* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #B9C0E6;
  --head-color: #251F44;
  --icon-topic-color: #B9C0E6;
  --body-response-color: #829FD6;
  --icon-topic-color-2: #4E558B;
  --color-grey: #818181;
  --color-white: #fff;
  --trans_ease-in-out_02s: all .3s ease-in-out;
  --trans-linear-02s: all .2s linear;
}

html {
  height: 100%;
}

body {
  background-color: var(--body-color);
  color: var(--color-white);
  min-height: 100vh;
  position: relative;
}
body a {
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
}

.container {
  min-height: 100vh;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 15px;
  background-color: var(--head-color);
}
header nav .logo {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav .logo p {
  margin-left: 10px;
}
header nav .searchBar {
  position: relative;
}
header nav .searchBar i {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: x-large;
  cursor: pointer;
}
header nav .searchBar input[type=search] {
  width: 600px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #818181;
  background-color: #4E558B;
  color: var(--color-white);
  padding: 15px;
  padding-left: 50px;
  font-size: large;
}
header nav .searchBar input[type=search]:focus {
  outline: none;
}
header nav .profil {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
header nav .profil .dropdown-user-menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  width: 200px;
  right: 0;
  background-color: #4E558B;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: var(--trans-linear-02s);
}
header nav .profil .dropdown-user-menu .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-around;
}
header nav .profil .dropdown-user-menu .user-info img {
  border-radius: 50%;
  overflow: hidden;
}
header nav .profil .dropdown-user-menu .links {
  display: flex;
  flex-direction: column;
}
header nav .profil .dropdown-user-menu .links a {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
header nav .profil .dropdown-user-menu .btn-disconnect {
  border-radius: 50px;
  background-color: #251F44;
  text-align: center;
  margin-top: 40px;
  padding: 10px 30px;
}
header nav .profil .active {
  visibility: visible;
  opacity: 1;
  transition: var(--trans-linear-02s);
}

.content-flex {
  display: flex;
  min-height: 100%;
}
.content-flex aside {
  padding: 20px;
  min-width: 250px;
  min-height: 85vh;
  background-color: #4E558B;
}
.content-flex aside .themes h3 {
  margin-bottom: 20px;
}
.content-flex aside .themes .cat .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content-flex aside .themes .cat .item i {
  font-size: large;
}
.content-flex main {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-flex main .card-topic {
  background-color: #4E558B;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin-top: 20px;
}
.content-flex main .card-topic .infos {
  margin-bottom: 15px;
}
.content-flex main .card-topic .preview {
  margin-bottom: 20px;
}
.content-flex main .card-topic .preview .title {
  font-size: 1.3em;
  margin-bottom: 15px;
}
.content-flex main .card-topic .preview .msg {
  font-size: 1em;
}
.content-flex main .card-topic .preview a {
  text-decoration: underline;
}
.content-flex main .card-topic .preview a p {
  text-align: justify;
}
.content-flex main .card-topic .btns {
  display: flex;
}
.content-flex main .card-topic .btns .like {
  margin-right: 15px;
}
.content-flex main .card-topic .btns .like button {
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #251F44;
  text-align: center;
  color: var(--color-white);
  border: none;
}
.content-flex main .card-comment {
  background-color: var(--body-response-color);
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin-top: 20px;
}
.content-flex main .card-comment .infos {
  display: flex;
  align-items: center;
}
.content-flex main .card-comment .infos .img {
  height: 50px;
}
.content-flex main .card-comment .infos .img img {
  width: 50px;
  height: 50px;
}
.content-flex main .card-comment .infos .createBy {
  margin-left: 10px;
}
.content-flex main .card-comment hr {
  text-align: center;
  margin: 10px 0;
}
.content-flex main .card-comment .preview {
  margin-top: 10px;
}
.content-flex main .newCom {
  margin-top: 20px;
}
.content-flex main .newCom a {
  text-transform: uppercase;
  font-weight: 600;
  color: #251F44;
}
.content-flex main .newCom a i {
  color: #251F44;
}
.content-flex main .addComment {
  background-color: #4E558B;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin-top: 10%;
}
.content-flex main .addComment strong {
  text-align: center;
}
.content-flex main .addComment form textarea {
  padding: 10px;
  border-radius: 10px;
}
.content-flex main .addComment form button {
  margin-left: 10px;
  width: 200px;
}
.content-flex main .categories {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.content-flex main .categories .category {
  background-color: var(--icon-topic-color-2);
  border-radius: 20px;
  margin: 10px;
  padding: 50px;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: var(--head-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  flex: 1;
}
footer .notices {
  display: flex;
}
footer .notices div {
  margin-right: 10px;
}
footer .notices div a {
  text-decoration: underline;
}
footer .socials {
  display: flex;
}
footer .socials a {
  transition: var(--trans_ease-in-out_02s);
}
footer .socials a i {
  font-size: x-large;
}
footer .socials a:hover {
  transition: var(--trans_ease-in-out_02s);
  color: #251F44;
}
footer .socials .fb {
  margin-right: 15px;
}
footer .socials .twitter {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */