* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #B9C0E6;
    color: #fff;
    min-height: 100%;
    position: relative;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.container {
    flex: 1 0 auto;
}

header {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 15px;
        background-color: #251F44;
        .logo {
            display: flex;
            align-items: center;

            p {
                margin-left: 10px;
            }
        }

        .searchBar {
            position: relative;
            i {
                position: absolute;
                left: 15px;
                top: 15px;
                font-size: x-large;
                cursor: pointer;
            }
            input[type="search"] {
                width: 600px;
                height: 50px;
                border-radius: 50px;
                border: 1px solid #818181;
                background-color: #4E558B;
                color: #fff;
                padding: 15px;
                padding-left: 50px;

                &:focus {
                    outline: none;
                }
            }
        }

        .profil {
            border-radius: 50%;
            overflow: hidden;

            .dropdown-user-menu {
                display: none;
                position: absolute;
                width: 200px;
                right: 0;
                background-color: #4E558B;
                color: #fff;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 15px;

                .user-info {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    justify-content: space-around;

                    img {
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;

                    a {
                        padding: 10px;
                        width: 100%;
                        text-align: center;
                        font-weight: bold;
                    }
                }

                .btn-disconnect {
                    border-radius: 50px;
                    background-color: #251F44;
                    text-align: center;
                    margin-top: 40px;
                    padding: 10px 30px;
                }
            }

            &:hover {
                .dropdown-user-menu {
                    display: block;
                }
            }
        }

    }
}
.content-flex {
    display: flex;
    aside {
        padding: 20px;
        min-width: 250px;
        height: 100%;
        background-color: #4E558B;

        .flux {
            margin-bottom: 30px;
            h3 {
                margin-bottom: 20px;
            }
        }

        .themes {
            h3 {
                margin-bottom: 20px;
            }

            .cat {
                .item {
                    display: flex;
                    justify-content: space-between;

                    i {
                        font-size: large;
                    }
                }
            }
        }
    }

    main {
        padding: 50px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #251F44;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    flex: 1;

    .socials {
        a {
            i {
                font-size: x-large;
                padding: 0 15px 0 0;

                &:nth-child(2) {
                    padding: unset;
                }
            }
        }
    }
}